# REMEMBER USE READ ONLY USER FOR DATABASE CONNECTIONS

# MYSQL CONNECTIONS

# MYSQL_HOST=localhost
# MYSQL_PORT=3306
# MYSQL_USER=root
# MYSQL_PASSWORD=your_password
# MYSQL_DATABASE=your_database

# SQL SERVER CONNECTIONS

# This requires ODBC Driver 17/18 installed on the machine
# SQLSERVER_HOST=localhost
# SQLSERVER_PORT=1433
# SQLSERVER_DATABASE=your_database
# SQLSERVER_USER=sa
# SQLSERVER_PASSWORD=your_password
# SQLSERVER_DRIVER=ODBC Driver 18 for SQL Server
# SQLSERVER_TRUST_SERVER_CERTIFICATE=yes

# INFORMIX CONNECTIONS

# This requires Informix ODBC Driver installed on the machine
# INFORMIX_HOST=localhost
# INFORMIX_PORT=9088
# INFORMIX_SERVER=ol_informix1410
# INFORMIX_DATABASE=stores_demo
# INFORMIX_USER=informix
# INFORMIX_PASSWORD=your_password
# INFORMIX_PROTOCOL=onsoctcp
# INFORMIX_DRIVER=IBM INFORMIX ODBC DRIVER

# POSTGRES CONNECTIONS

# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=your_password
# POSTGRES_DATABASE=your_database
# POSTGRES_SSLMODE=require
# POSTGRES_DSN=postgresql://postgres:your_password@localhost:5432/your_database

# ORACLE CONNECTIONS

# Single Connection
# ORACLE_USER=your_user
# ORACLE_PASSWORD=your_password
# ORACLE_HOST=localhost
# ORACLE_PORT=1521
# ORACLE_SID=ORCL

# Multi Connection

# ORACLE_CONNECTIONS=B1,B2
# ORACLE_DEFAULT=B1

# ORACLE_B1_USER=
# ORACLE_B1_PASSWORD=
# ORACLE_B1_HOST=
# ORACLE_B1_PORT=
# ORACLE_B1_SID=

# ORACLE_B2_USER=
# ORACLE_B2_PASSWORD=
# ORACLE_B2_HOST=
# ORACLE_B2_PORT=  
# ORACLE_B2_SID=
